@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Slab&display=swap');

/*<a href="https://www.vecteezy.com/free-vector/web">Web Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/article">Article Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/article">Article Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/background">Background Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/writer">Writer Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/writer">Writer Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/work">Work Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/co-working">Co Working Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/shopping">Shopping Vectors by Vecteezy</a>
<a href="https://www.vecteezy.com/free-vector/library">Library Vectors by Vecteezy</a>;*/


.font1{
  font-family: var(--font-1);
}

.font2{
  font-family: var(--font-2);
}

.max-width-1{
  max-width: 80vw;
}

.max-width-2{
  max-width: 55vw;    
}

.m-auto{
  margin: auto;   
}

.my-2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn:hover{
  color: white;
  background: var(--main-bg-color);
}

.bottom-button:hover{
  color: white;
  background: var(--main-bg-color);
}

:root {
  --main-bg-color:rgb(11, 29, 11);
  --font-1:'PT Serif', serif;
  --font-2:'Roboto Slab', serif;
}


  